<!--Form For Add-->
<div *ngIf="selected==='add' && isStu && isLogged">
  <h2>Adding Form</h2>
  <form name="addForm" [formGroup]="formValitity">
    <label>Student Id:</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Enter Id" formControlName="id">
    <label>Name:</label>
    <input type="text" placeholder="Enter Name" formControlName="name">
    <label>Age:</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Enter Age" formControlName="age">
    <label>Email:</label>
    <input type="email" placeholder="Enter Email" formControlName="email">
    <label>course:</label>
    <!-- <input type="text" placeholder="Enter Course" [(ngModel)]="stu.course" name="course"> -->
    <select name="course" id="course" formControlName="course">
      <option value="" disabled selected>Select one</option>
      <option value="java"> Java</option>
      <option value="python"> Python</option>
      <option value="golang"> GoLang</option>
    </select>
    <label>Entrolled Date:</label>
    <input type="date" placeholder="Enter date" formControlName="entrolledDate">
    <button (click)="onAdd()">Submit</button>
    <div *ngIf="formValitity.invalid && isValid" class="valid">
      <p>Please enter valid Details</p>
    </div>
    <button (click)="onBack()">Back</button>
  </form>
</div>

<!--Form For Updating-->
<div *ngIf="selected==='edit' && isStu && isLogged">
  <h2>Updating Form</h2>
  <form [formGroup]="formValitity ">
    <label>Student Id:</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Enter Id" formControlName="id">
    <button (click)="onSearch(formValitity.value)">Search</button>
    <label>Name:</label>
    <input type="text" placeholder="Enter Name" formControlName="name">
    <label>Age:</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Enter Age" formControlName="age">
    <label>Email:</label>
    <input type="email" placeholder="Enter Email" formControlName="email">
    <label>course:</label>
    <input type="text" placeholder="Enter Course" formControlName="course">
    <label>Entrolled Date:</label>
    <input type="date" placeholder="Enter date" formControlName="entrolledDate">
    <button (click)="onUpdate(formValitity.value)">Update</button>
    <div *ngIf="formValitity.invalid && isValid" class="valid">
      <p>Please enter valid Details</p>
    </div>
    <button (click)="onBack()">Back</button>
  </form>
</div>

<!--Output Decorator-->
<div *ngIf='!isStu && isLogged'>
  <app-students-card (actStu)="onAct($event)" (logg)="onLog($event)"></app-students-card>
</div>
<div *ngIf=!isLogged>
  <app-login (logg)="onLog($event)"></app-login>
</div>

<!--Remove By Id-->
<div *ngIf="selected==='remove' && isStu && isLogged">
  <h2>Remove Form</h2>
  <form [formGroup]="formValitity ">
    <label>Student Id:</label>
    <input type="text" inputmode="numeric" pattern="[0-9]*" placeholder="Enter Id" formControlName="id">
    <button (click)="onDelt(formValitity.value)">Confirm</button>
    <button (click)="onBack()">Back</button>
  </form>
</div>

<!--Searching FOr Name/Course-->
<div *ngIf="selected==='search' && isStu && isLogged">
  <h2>Search by Name/Course</h2>
  <div *ngIf=!searchName>
    <form [formGroup]="formValitity">
      <div *ngIf=isName>
        <label>Name:</label>
        <input type="text" placeholder="Enter Name" formControlName="name">
      </div>
      <div>
        <button (click)="onName(formValitity.value)">Search by Name</button>
        <div *ngIf=!isNameRe>
          please Enter Valid Name..!!
        </div>
      </div>
      <div *ngIf=!isName>
        <label>Course:</label>
        <input type="text" placeholder="Enter Course" formControlName="course">
      </div>
      <div>
        <button (click)="onCourse(formValitity.value)">Search by Course</button>
        <div *ngIf=!isCourRe>
          please Enter Valid Course..!!
        </div>
      </div>
      <button (click)="onBack()">Back</button>
    </form>
  </div>
  <div *ngIf=searchName>
    <h2>Students Details..!</h2>
    <table *ngIf='studs.length>0'>
      <thead>
        <tr>
          <th>Student Id</th>
          <th>Name</th>
          <th>Age</th>
          <th>E-mail</th>
          <th>Course</th>
          <th>Entrolled Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stu of studs">
          <td>{{stu.id}}</td>
          <td>{{stu.name}}</td>
          <td>{{stu.age}}</td>
          <td>{{stu.email}}</td>
          <td>{{stu.course}}</td>
          <td>{{stu.entrolledDate | date:'dd-MM-yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf='studs.length<=0'>
      <p>No Students Available for Name/Course</p>
    </div>
    <button name="back" (click)="onBackToSearch()">Back</button>
  </div>
</div>

<!--Sorting Asc|Desc-->
<div *ngIf="(selected==='Asc' || selected==='Desc') && isStu && isLogged">
  <h2>Students Details..!</h2>
  <table *ngIf='students.length>0'>
    <thead>
      <tr>
        <th>Student Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Course</th>
        <th>Entrolled Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stu of students">
        <td>{{stu.id}}</td>
        <td>{{stu.name}}</td>
        <td>{{stu.age}}</td>
        <td>{{stu.email}}</td>
        <td>{{stu.course}}</td>
        <td>{{stu.entrolledDate | date:'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
    <button (click)="onBack()">Back</button>
  </table>
  <div *ngIf='students.length<=0'>
    <p>No Students Available..!</p>
  </div>
</div>
<!-- <app-login></app-login> -->

<!-- <div class="drop">
  <button (click)="onDrop()">Sort By</button>
  
    <select *ngIf="isDrop" name="dropSort" id="Sort">
      <option value="name"> Name</option>
      <option value="age"> Age</option>
    </select>

</div> -->
<!-- <div>
  <ul>
    <li href='/home'>Home</li>
    <li href='/main'>Details</li>
    <li href='/curd'>Form</li>
  </ul>
</div> -->
<!-- <app-home></app-home> -->